.post-card {
    background-color: #f8f6f6;
    border-radius: 5px;
    border: 10px solid #f4f4f4;
    box-shadow: 0 0 20px #b9b8b8;
    width: fit-content;
    display: grid;
    justify-items: center;
}

.post {
    width: 50%;
}

.blog-text {
    width: 80%;
}