.header {
    background-color: peachpuff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0.5rem;
    align-content: center;
}

p {
    text-align: right;
    font-size: 20px;
    font-weight: 600;
}