.circle {
    width: 200px;
    height: 200px;
    display: inline-block;
    background: peachpuff;
    margin: 2rem;
    border-radius: 50%;
}

.circle.active {
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 1);
    background: url('../virusphoto.jpg') no-repeat center center/cover;
}